body {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.m-width {
    width: 40vw; 
    margin: 0 auto; 
    transition: width 0.3s ease; 
}

@media (max-width: 992px) { 
    .m-width {
        width: 95vw;
    }
}

.custom-underline {
    position: relative;
    display: inline-block;
}
.custom-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor; 
    transition: width 0.3s ease; 
}
#profile-btn:hover .custom-underline::after {
    width: 100%;
}